@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=e0fa05d5-2237-4375-9327-18dfb79f096a");
@font-face{
	font-family:"Univers LT W01_45 Light1475944";
	src:url("fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix");
	src:url("fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix") format("eot"),url("fonts/9fa24f1f-00d8-4d28-910f-78e925eaead6.woff2") format("woff2"),url("fonts/d64e7bbc-e9ea-46ad-982c-6195ae4a3c61.woff") format("woff"),url("fonts/d270a34d-b6b8-4c07-8454-03a6a3db7603.ttf") format("truetype"),url("fonts/b2ea19ff-0237-4d94-a107-eaa12af161ef.svg#b2ea19ff-0237-4d94-a107-eaa12af161ef") format("svg");
}
