footer {
	background: #fff;
	border-top: 2px solid $red;
	@include rems(padding, 1, 0);
	@include font-size(1.4, 2);
	p {
		float: left;
		@include rowMachine(2, 5%);
		padding-bottom: 0;
		@media #{$phone} {
			@include rowMachine(1, 2%);
		}
		a {
			color: $red;
			text-decoration: none;
		}
		&.build {
			text-align: right;
			@media #{$phone} {
				text-align: left;
			}
		}
	}
}
