input[type="text"], input[type="tel"], input[type="email"], textarea {
	display: block;
	width: 100%;
	@include box;
	@include rems(padding, 1, 2);
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.6);
	transition: 0.4s all ease;
	@include border-radius(10px);
	color: $red;
	@include font-size(2, 2.4);
	font-family:"Univers LT W01_45 Light1475944";
	outline: none;
	@include rems(margin-bottom, 1.5);
	&:focus {
		background: rgba(255, 255, 255, 0.8);
	}
}
::-webkit-input-placeholder {
   color: $red;
}

:-moz-placeholder { /* Firefox 18- */
   color: $red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $red;  
}

:-ms-input-placeholder {  
   color: $red;  
}
form {
	br {
		display: none;
	}
	@include clearfix;
}
input[type="submit"] {
	float: right;
	display: block;
	@include box;
	@include rems(padding, 1, 2);
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.6);
	transition: 0.4s all ease;
	@include border-radius(10px);
	color: $red;
	@include font-size(2, 2.4);
	font-family:"Univers LT W01_45 Light1475944";
	outline: none;
	@include rems(margin-bottom, 1.5);
	cursor: pointer;
	-webkit-appearance: none;
	&:hover {
		background: rgba(255, 255, 255, 0.8);
	}
}
