body {
	font-family:"Univers LT W01_45 Light1475944";
	@include font-size(1.8, 2.4);
	color: #565759;	
	//background: url('images/poster.jpg') top center no-repeat;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.narrow {
		@include rems(max-width, 100);
	}
	&.main {
		@include rems(padding, 4, 0);
	}
}
article {
	background: #fff;
	@include rems(padding, 4);
	margin: 0 auto;
	@include rems(margin-top, -8);
	position: relative;
	z-index: 10;
	width: 90%;
	@include box;
	@media #{$phone} {
		padding: 0;
		margin-top: 0;
	}
	h2 {
		color: $red;
		@include font-size(2.4, 3);
	}
	h3 {
		color: $red;
		@include font-size(2, 2.4);
		@include rems(margin-bottom, 1.5);
	}
	a {
		color: $red;
	}
	ul {
		@include rems(margin, 0, 0, 2, 2);
		li {
			@include rems(padding-left, 2);
			background: url('images/bullet.png') top left no-repeat;
			background-size: 10px auto;
			@include rems(margin-bottom, 0.5);
			&:last-child {
				margin-bottom: 0;
			}
			ul {
				@include rems(margin, 0, 0, 0, 2);
			}
		}
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.parallax-mirror {
	z-index: 10!important;
}
a.large-button {
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	@include rems(padding, 1, 2);
	@include font-size(3, 3.2);
	transition: 0.4s all ease;
	&:hover {
		background: $red;
	}
	@media #{$phone} {
		@include box;
		width: 100%;
		display: block;
		text-align: center;
	}
}
h1 {
	&.page-title {
		@include font-size(6, 6.4);
		@include rems(margin, 8, 0, 2);
		@media #{$phone} {
			@include font-size(3, 3.4);
		}
	}
}
.post-meta {
	background: $red;
	color: #fff;
	width: 90%;
	margin: 0 auto;
	@include rems(margin-bottom, 2);
	@include box;
	@include rems(padding, 2, 4);
	a {
		color: #fff;
		text-decoration: none;
	}
}
