header {
	@include rems(padding, 1, 0, 0.2);
	border-bottom: 2px solid #58585a;
	@include rems(margin-bottom, 2);
	position: fixed;
	z-index: 20;
	width: 100%;
	top: 0;
	background: #fff;
	nav {
		border-bottom: 4px solid $red;
		@include rems(padding-bottom, 1);
		.container {
			display: flex;
			align-items: center;
		}
		aside {
			width: 50%;
			@include clearfix;
		}
		h2 {
			float: left;
			display: block;
			@include rems(height, 4);
			background: url('images/nav-logo@2x.png') left center no-repeat;
			background-size: contain;
			text-indent: -10000px;
			width: 100%;
			margin-bottom: 0;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			@media #{$phone} {
				float: none;
				display: inline-block;
				background-position: center center;
			}
		}
		ul {
			float: right;
			@include clearfix;
			li {
				float: left;
				text-transform: uppercase;
				@include rems(margin-left, 2);
				a {
					color: #565759;	
					text-decoration: none;
					transition: 0.4s all ease;
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
}
