video::-webkit-media-controls {
    display:none !important;
}
#feature {
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 99;
	width: 100%;
	@media #{$phone} {
		background: url('images/poster.jpg') center center no-repeat;
		background-size: cover;
	}
	video {
		@media #{$phone} {
			display: none!important;
		}
	}
	.feature-content {
		text-align: center;
		height: 100%;
		display: flex;
		align-items: center;
		.container {
			width: 98%;
		}
		h1 {
			@include rems(height, 20);
			width: 16%;
			margin: 0 42%;
			background: url('images/quion-icon.png') center center no-repeat;
			background-size: contain;
			text-indent: -10000px;
			@include rems(margin-bottom, 4);
			@media #{$phone} {
				//width: 100%;
				width: 100%;
				@include rems(height, 10);
				margin: 0;
				@include rems(margin-bottom, 2);
			}
		}
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			@include font-size(6, 6);
			@include rems(margin-bottom, 4);
			@media #{$phone} {
				@include font-size(3, 3.6);
				@include rems(margin-bottom, 2);
			}
		}
		ul {
			&.signposts {
				@include clearfix;
				@include rems(margin-bottom, 4);
				@media #{$phone} {
					@include rems(margin-bottom, 2);
				}
				li {
					float: left;
					@include rowMachine(5, 4%);
					@media #{$phone} {
						@include rowMachine(1, 1%);
						&:nth-child(5n+1):nth-last-child(-n+5),
					  	&:nth-child(5n+1):nth-last-child(-n+5) ~ * {
					  		margin-bottom: 1%;
					  	}
					}	
					a {
						@include box;
						@include rems(padding, 1.5, 1);
						transition: 0.4s all ease;
						@include border-radius(10px);
						background: rgba(255, 255, 255, 0.4);
						display: block;
						text-transform: uppercase;
						color: #fff;
						text-decoration: none;
						@include font-size(1.4, 1.8);
						@media #{$phone} {
							text-align: left;
							@include clearfix;
							background: rgba(0, 0, 0, 0.6);
						}
						&:hover {
							background: $red;
						}
						span {
							@include rems(height, 9);
							display: block;
							width: 100%;
							background-position: center center;
							background-repeat: no-repeat;
							background-size: 5rem auto;
							@include rems(margin-bottom, 1.5);
							@media #{$phone} {
								float: left;
								@include rems(height, 2);
								background-position: left center;
								background-size: 2rem auto;
								@include rems(width, 5);
								margin-bottom: 0;
							}
						}
						&#signpost {
							&-about {
								span {
									background-image: url('images/icon-about.png');
								}
							}
							&-cdm {
								span {
									background-image: url('images/icon-cdm.png');
								}
							}
							&-construction {
								span {
									background-image: url('images/icon-construction.png');
								}
							}
							&-safety {
								span {
									background-image: url('images/icon-safety.png');
								}
							}
							&-asbestos {
								span {
									background-image: url('images/icon-asbestos.png');
								}
							}
							&-news {
								span {
									background-image: url('images/icon-news.png');
								}
							}
							&-contact {
								span {
									background-image: url('images/icon-contact.png');
								}
							}
						}
					}
				}
			}
		}
		a {
			&.scroll-trigger {
				color: #fff;
				transition: 0.4s all ease;
				&:hover {
					color: $red;
				}
			}
		}
	}
}
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(images/poster.jpg) center center no-repeat;
	background-size: cover;
	@media #{$tablet} {
		display: none;
	}
}
.main-content {
	position: relative;
	z-index: 100;
	.home-section {
		@include rems(padding, 6, 0);
		text-align: center;
		@media #{$phone} {
			@include rems(padding, 2, 0);
		}
		&#about {
			background: #fff;
		}
		&#cdm {
			background: #fff;
			.cdm-content {
				@include clearfix;
				@include rems(margin-top, 4);
				@media #{$phone} {
					margin-top: 0;
				}	
				aside {
					@include rowMachine(3, 5%);
					text-align: left;
					@media #{$phone} {
						@include rowMachine(1, 2%);
					}
					h2 {
						text-align: center;
						color: $red;
						a {
							display: block;
							@include rems(padding-top, 14);
							@include font-size(2, 2.6);
							background-position: center top;
							background-repeat: no-repeat;
							background-size: 120px auto;
							background-size: 12rem auto;
							text-decoration: none;
							color: $red;
						}
						&#what-we-do {
							a {
								background-image: url('images/cdm-what-we-do.png');
							}
						}
						&#why-quoin {
							a {
								background-image: url('images/cdm-why-quoin.png');
							}
						}
						&#cdm-downloads {
							a {
								background-image: url('images/cdm-downloads.png');
							}
						}
					}
					ul {
						text-align: left;
						@include rems(margin-bottom, 2);
						li {
							@include rems(padding-left, 2);
							background: url('images/bullet.png') top left no-repeat;
							background-size: 10px auto;
							@include rems(margin-bottom, 0.5);
							&:last-child {
								margin-bottom: 0;
							}
							ul {
								@include rems(margin, 0, 0, 0, 2);
							}
						}
					}
				}
			}
		}
		&#safety {
			background: $red;
			color: #fff;
			ul {
				&#safety-titles {
					@include clearfix;
					@include rems(margin, 4, 0);
					li {
						@include rowMachine(2, 4%);
						text-align: center;
						float: left;
						@include font-size(3, 3.4);
						@media #{$phone} {
							@include font-size(2, 2.4);
						}
						a {
							color: #fff;
							text-decoration: none;
							border-bottom: 2px solid $red;
							&.active {
								border-bottom: 2px solid #fff;
							}
						}
					}
				}
				&#safety-content {
					li {
						ul {
							@include clearfix;
							li {
								float: left;
								@include rowMachine(4, 0);
								background: #fff;
								@media #{$phone} {
									@include rowMachine(2, 0);
								}
								a {
									display: block;
									text-decoration: none;
									img {
										display: block;
									}
									span {
										display: block;
										@include rems(padding, 1);
										color: $red;

									}
								}
							}
						}

					}
				}
			}
		}
		&#news {
			.container {
				@include rems(max-width, 100);
				width: 90%;
				aside {
					@include rowMachine(2, 0);
					position: relative;
					overflow: hidden;
					@include rems(max-height, 50);
					@media #{$phone} {
						@include rowMachine(1, 0);
					}
					a {
						display: block;
						position: relative;
						overflow: hidden;
						img {
							display: block;
						}
						.overlay {
							width: 100%;
							height: 100%;
							position: absolute;
							background: $red;
							display: flex;
							align-items: flex-end;
							top: 100%;
							transition: 0.4s all ease;
							h2 {
								color: #fff;
								@include rems(margin, 2);
							}
						}
						&:hover {
							.overlay {
								top: 0;
							}
						}
					}
					&.news-stack {
						a {
							max-height: 33%;
						}
					}
				}
			}
		}
	}
}
h2 {
	@include rems(margin-bottom, 2);
	&.section-title {
		text-align: center;
		text-transform: uppercase;
		@include font-size(4, 4.6);
		background: url('images/title-border.png') bottom center no-repeat;
		@include rems(padding-bottom, 1.5);
		@include rems(margin-bottom, 4);
		#safety &, #contact & {
			background: url('images/title-border-alt.png') bottom center no-repeat;
		}
	}
	&.parallax-title {
		@include font-size(3.6, 4);
		@include rems(margin-bottom, 4);
		text-transform: capitalize;
		@media #{$phone} {
			@include font-size(2.6, 3);
		}
	}
}
nav {
	&.home-nav {
		background: #fff;
		@include rems(padding, 0.7, 0);
		width: 100%;
		position: relative;
		z-index: 1000;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
		&.fixed-nav {
			position: fixed;
			top: 0;
		}
		.container {
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			aside {
				width: 50%;
				@include clearfix;
				@media #{$phone} {
					width: 100%;
					text-align: center;
					&:last-child {
						display: none;
					}
				}
			}
			h2 {
				float: left;
				display: block;
				@include rems(height, 4);
				background: url('images/nav-logo@2x.png') left center no-repeat;
				background-size: contain;
				text-indent: -10000px;
				width: 100%;
				margin-bottom: 0;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
				@media #{$phone} {
					float: none;
					display: inline-block;
					background-position: center center;
				}
			}
			ul {
				float: right;
				@include clearfix;
				//@include rems(padding, 0.6, 0);
				@media #{$phone} {
					float: none;
					text-align: center;
				}
				li {
					float: left;
					text-transform: uppercase;
					@include rems(margin-left, 2);
					@media #{$phone} {
						@include rems(margin, 0, 0.5);
						float: none;
						display: inline-block;
						@include font-size(1.2, 1.6);
					}
					a {
						color: #565759;	
						text-decoration: none;
						transition: 0.4s all ease;
						&:hover {
							color: $red;
						}
					}
				}
			}
		}
	}
}
.parallax {
	text-align: center;
	color: #fff;
	@include rems(padding, 6, 0);
	@include clearfix;;;;;;
}
.contact-area {
	@include clearfix;
	aside {
		&.form {
			width: 55%;
			margin-right: 5%;
			@media #{$phone} {
				width: 100%;
			}
		}
		&.contact-details {
			width: 40%;
			@media #{$phone} {
				width: 100%;
			}
			ul {
				li {
					@include clearfix;
					@include rems(margin-bottom, 1);
					aside {
						@include box;
						&.icon {
							width: 11%;
							margin-right: 2%;
							@include rems(padding, 1);
							border: 2px solid #fff;
							@include border-radius(10px);
							text-align: center;
							i {
								@include font-size(2.2, 2.2);
							}
							@media #{$phone} {
								display: none;
							}
						}
						&.content {
							width: 87%;
							text-align: left;
							@include font-size(2, 4.8);
							@media #{$phone} {
								width: 100%;
								@include font-size(2, 2.4);
							}
							a {
								color: #fff;
								text-decoration: none;
							}
							&.double {
								@include font-size(2, 2.4);
							}
						}
					}
				}
			}
		}
	}
}
.about-feature {
	width: 40%;
	margin-right: 5%;
	@media #{$phone} {
		width: 100%;
		@include rems(margin, 0, 0, 2);
	}
	img {
		@include box;
		border: 8px solid #fff;
		-webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.6);
				box-shadow: 0 0 0 2px rgba(0,0,0,0.6);
	}
}
.about-content {
	width: 55%;
	text-align: left;
	@media #{$phone} {
		width: 100%;
	}
}
