.quoin-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	background: #000;
	@include opacity(0.8);
	z-index: 9999;
	display: none;
}
.overlay-wrap {
	display: none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	outline:0!important;
	-webkit-backface-visibility:hidden;
	overflow-y: auto; 
	overflow-x: hidden;
	z-index: 9999;
	.overlay-container {
		text-align:center;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		padding:0 8px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		.overlay-content {
			position:relative;
			display:inline-block;
			vertical-align:middle;
			margin: 40px auto;
			margin: 4rem auto;
			width: 80%;
			@include rems(max-width, 80);
			text-align:left;
			z-index:1045;
			background: #fff;
			//@include rems(padding, 4);
			border: 10px solid $red;
			.overlay-close {
				position: absolute;
				@include rems(top, -1);
				left: 100%;
				background: $red;
				@include rems(padding, 0.5, 0.5, 0.5, 1);
				color: #fff;
			}
			ul {
				margin: 0;
				li {
					list-style: none;
					border-bottom: 1px solid #e1e1e1;
					&:last-child {
						border-bottom: none;
					}
					a {
						display: block;
						@include rems(padding, 2);
						text-decoration: none;
						color: #565759;
						transition: 0.4s all ease;
						i {
							color: $red;
							@include rems(margin-right, 1);
						}
						&:hover {
							background: #eee;
							color: $red;
						}
					}
				}
			}
			.bx-next, .bx-prev {
				background: #eee;
				@include font-size(3, 3);
				@include rems(padding, 1);
				text-align: center;
				@include rems(width, 5);
				@include box;
				position: absolute;
				top: 50%;
				@include rems(margin-top, -2.5);
				display: block;
			}
			.bx-prev {
				left: 0;
			}
			.bx-next {
				right: 0;
			}
		}
	}
}
